@font-face {
    font-family: Anton;
    src: url("../fonts/Anton-Regular.ttf");
  }

  @font-face {
    font-family: Questrial;
    src: url("../fonts/Questrial-Regular.ttf");
  }

body {
    margin: 0;
    background-color: black;
    height: 100vmin;
}

#bodyHome {
    left: 0;
    bottom: 0;
    background-image: url("../images/canyonBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

#title {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 50%;
    width: 50%;
    margin-left: 20vmin;
    margin-top: 25vmin;
    position: relative;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
}

.titleText {
    color: white;
    margin:0px;
}

#titleLeftColumn{
    display: flex;
    margin-top: 3.5vmin;
    justify-content: flex-end;
    flex-direction: column;
    height: 19.5vmin;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
}

#titleFirstName {
    font-family: Questrial;
    font-size: 7vmin;
    text-align: end;
    grid-column: 1;
    opacity: 0.75;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
}

#titleJob {
    font-family: Questrial;
    font-size: 4vmin;
    text-align: end;
    grid-column: 1;
    opacity: 0.75;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
}

#titleLastName {
    font-family: Anton;
    padding-left: 2vmin;
    font-size: 10vmin;
    grid-column: 2;
    height: 100%;
    width: 100%;
    opacity: 0.90;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
}

#sectionDiv {
    display:flex;
    flex-wrap: wrap;
    padding-top: 3%;
    padding-bottom: 3%;
    align-self: center;
    align-content: center;
    justify-content: center;
    margin-top: 5vmin;
    position: absolute;
    opacity: 0;
    transition-delay: 150ms;
    transition-duration: 300ms;
    width: 100%;
    height: 60%;
    color: rgba(255, 255, 255, 0.5);
    font-family: Questrial;
}

#sectionDiv h1 {
    width: 30%;
    margin: 5vmin;
    opacity: 0.95;
}

#profilePicture {
    border-radius: 50%;
    margin: 5vmin;
    height: 30vmin;
    width: 30vmin;
    opacity: 0.95;
}

#bottomNavBar {
    position: absolute;
    display: flex;
    align-items: center;
    height: 30px;
    grid-column: 1;
    grid-row: 4;
    margin-left: 3vmin;
    margin-bottom:4vmin;
    left: 0;
    bottom: 0;
}

.btnNavPage {
    border: none;
    height: 3vmin;
    width: 3vmin;
    margin-left: 1.5vmin;
    border-radius: 2vmin;
    opacity: 0.5;
    transition-duration: 300ms;
}

#btnLang {
    width: 5vmin;
    height: 5vmin;
    opacity: 0.50;
    transition-duration: 300ms;
}

#btnLang:hover {
    opacity: 0.95;
}

#btnProject:hover {
    background-color: #8F80A7;
    opacity: 0.95;
}

#btnAbout:hover {
    background-color: #E78650;
    opacity: 0.95;
}

#btnContact:hover {
    background-color: #5CC2D0;
    opacity: 0.95;
}

#textBtn {
    font-family: Questrial;
    font-size: 2vmin;
    color: white;
    margin-left: 1.5vmin;
    opacity: 0;
    transition-duration: 1s;
}